<h1>Ejemplopro#index</h1>
<p>Find me in app/views/ejemplopro/index.html.erb</p>
<a href="https://www.google.cl">Ir a Google</a>

<%= Time.now.year %>

<%  edad = 25
    if edad >= 18 %>
    <h1>Eres mayor de edad</h1>
<% else %>
    <h1>Eres menor de edad</h1>
<% end %>